.header {
  position: sticky;
  z-index: 200;
  inset: 0 0 unset 0;
  background-color: #000000D9;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.125) 49.64%, rgba(255, 255, 255, 0) 100%) 1;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding-block: 22px;
  }
}


.nav-list {
  display: flex;
  gap: 8px;
  align-items: center;
  min-height: 56px;
  justify-content: space-between;

  &__item {

  }

  &__link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    padding: 17px 32px;
    color: var(--light-2);
    text-decoration: none;
    white-space: nowrap;
    transition: font-size .3s ease-in-out;
    text-align: center;
    @include media('lg') {
      padding: 8px 16px;
    }

    &:hover {
      color: var(--light);
    }
  }
}