.header {
  position: sticky;
  z-index: 300;
  inset: 0 0 unset 0;
  background-color: #000000D9;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.88%, rgba(255, 255, 255, 0.4) 49.36%, rgba(255, 255, 255, 0) 96.52%) 1;
  backdrop-filter: blur(2.00509px);

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding-block: 22px;

  }

  &__nav {
    @include media('lg') {
      justify-self: right;
    }
  }
}


