.section-1 {
  margin-top: -80px;
  @include media('md') {
    margin-top: 0;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media('lg') {
      padding-top: 52px;
    }
  }

  &__content {
    position: absolute;
    z-index: 100;
    top: 150px;
    @include media('md') {
      top: 28px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;

    .join {
      max-width: 340px;
    }

  }

  &__chain-1 {
    pointer-events: none;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 240;
    object-fit: scale-down;
    @include media('lg') {
      object-position: -59px -32px;
    }
    @include media('md') {
      max-width: 250px;
      object-position: -59px -32px;
    }
  }

  &__background {
    pointer-events: none;
    margin-bottom: 270px;
    position: relative;
    padding-top: 32px;

    @include media('md') {
      position: static;
      padding-top: 0;
      margin-bottom: 0;
    }

  }

  &__chain-2 {
    box-sizing: border-box;
    pointer-events: none;
    top: 80px;
    right: 0;
    position: absolute;
    z-index: 250;
    object-fit: scale-down;

    @include media('lg') {
      object-position: right 10vh ;
      max-width: 40vw;
    }
    @include media('md') {
      width: 80%;
      object-position: 50px;
      max-width: 232px;
    }
  }

  &__phone {
    pointer-events: none;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    z-index: 50;
    width: 80%;
    @include media('md') {
      top: 65px;
      width: 100%;
    }
  }
}