.section-8 {
  @include media('lg', 'min'){
    background: url("../images/bg7.png") center no-repeat  ;
    background-size: 100% 100%;
  }
  &__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include media('md') {
      grid-template-columns: 1fr;
    }
  }
  &__title {
    max-width: 600px;
    text-align: left;
    padding-block: 22px;
    @include media('lg') {
      padding-block: 0;
      margin: 0;
    }
  }
  &__img{

    img{
      object-fit: contain;
      max-height: 100%;
    }
    @include media('lg') {
      margin-top: -10px;
      max-height: 400px;
    }
  }


}
