.section-4 {

  &__inner {
    display: grid;
    gap: 80px;
    @include media('md') {
      gap: 60px;
    }
  }

}

.criteria-list {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 114px 32px;
  padding: 26px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  @include media('lg') {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 32px 8px;
    padding: 8px;
  }

  &__item {
    background: linear-gradient(143.07deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 50.98%, rgba(255, 255, 255, 0.06) 99.95%);
    font-family: Inter, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    padding: 24px 16px;
    white-space: nowrap;
    width: max-content;
    &:nth-child(1) {
      justify-self: left;
      @include media('lg', 'min') {
        grid-column: 2/4;
        grid-row: 1;

      }
    }

    &:nth-child(2) {
      justify-self: center;
      @include media('lg', 'min') {
        grid-column: 4/7;
        grid-row: 1;

      }
    }

    &:nth-child(3) {
      justify-self: end;
      @include media('lg', 'min') {
        grid-column: span 3;
        grid-row: 1;
      }
    }

    &:nth-child(4) {
      justify-self: right;
      @include media('lg', 'min') {
        grid-column: span 3;
        grid-row: 2;
      }
    }

    &:nth-child(5) {
      justify-self: center;
      @include media('lg', 'min') {
        grid-column: span 7;
        grid-row: 2;
      }
    }

    &:nth-child(6) {
      justify-self: right;
      @include media('lg', 'min') {
        grid-column: span 5;
        grid-row: 3
      }
    }

    &:nth-child(7) {
      justify-self: right;
      @include media('lg', 'min') {
        grid-column: span 5;
        grid-row: 3;

      }
    }
  }
}