.section-1{
  margin-top: -80px;
  @include media('md'){
    margin-top: 0;
  }

  &__inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media('md'){
      padding-top: 52px;
    }
  }
  &__content{
    position: absolute;
    z-index: 100;
    top: 150px;
    @include media('md') {
      top: 28px;
    }
    display: grid;
    align-items: center;
    gap: 32px;

    .join{
      display: none;
      @include media('lg'){
        display: block;
      }
    }

  }
  &__title{

  }




}