.section-1{
  padding-top: 22px;
  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    @include media('md'){
      padding-top: 52px;
    }
  }
  &__title{
    position: absolute;
    z-index: 100;
    top: 172px;
    @include media('md') {
      top: 80px;
    }
  }




}