


html {
  font-size: var(--font-size);
  color: var(--font-color);
  font-family: 'Poppins', serif;
  background-color: var(--dark);
}
main{
  display: grid;
  gap: 100px;
}
img{
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1160px;
  padding-inline: 20px;
  margin-inline: auto;
  &--wide{
    max-width: 1400px;
    margin-inline: auto;
  }
}


h1{
  font-size: 72px;
  line-height: 64px;
  letter-spacing: calc(1em / 20);
  text-align: center;
  text-transform: uppercase;
}
h2{
  font-size: 32px;
  line-height: 40px;
  letter-spacing: calc(1em / 20);
  text-align: center;
  text-transform: uppercase;
}
h3{
  font-size: 24px;
  line-height: 32px;
  letter-spacing: calc(1em / 20);
  text-align: center;
  text-transform: uppercase;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-gradient{
  background: linear-gradient(94.22deg, rgba(255, 255, 255, 0.4) -1.07%, #FFFFFF 53.25%, rgba(255, 255, 255, 0.4) 104.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}