:root {
  --light: #FFFFFF;
  --light-2: #a5a5a5;
  --primary: #FF9900;
  --opacity-3: rgba(255, 255, 255, 0.03);
  --dark: #000000;
  --font-size: 1rem;
  --font-color: var(--light);


  --opacity-65: FFFFFFA6;

}